<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('div.output_text').hide('500')
      $('#toggleButton').val('Show Code')
    } else {
      $('div.input').show('500');
      $('div.output_text').show('500')
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  }

  $( document ).ready(function(){
    code_shown=false;
    $('div.input').hide()
    $('div.output_text').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

## Goal: understanding contribution patterns

Analyzing groups of contributors, according to their activity patterns, and their evolution over time, helps to understand the structure of the community. These groups will be defined according to how much active they are (from casual to core contributors), and which kinds of activity they have (for example, producing code, reviewing code, submitting issues, contributing in discussions, etc.). Whenever convenient, the characterization will be combined with the contributor groups identified in the first goal.

This goal is refined in the following questions:

**Questions**:

 * How often do contributors contribute?
 * How is the structure of contribution, according to level of activity?
 * How is the structure of contribution, according to the different data sources?
 * How are the structures of contribution evolving over time?
 * How is people flowing in the structure of contribution?

These questions can be answered with the following metrics:

**Metrics**:

(Still to be refined)

 * Groups of contributors, by level of activity (core, regular, casual)
 * Groups of contributors, by kind of activity (committing, opening issues, merging pull requests, etc.)
 * Groups of contributors, by kind of activity (specialists, spread, etc.)
 * Activity metrics for each group
 * Absolute number of contributors moving from one group to another
 * Fraction of contributors moving from a group to another
 
Some of these metrics will be computed for the speficied contributor groups, over time.

# Metric Calculations
First we need to load a connection against the proper ES instance. We use an external module to load credentials from a file that will not be shared. If you want to run this, please use your own credentials, just put them in a file named '.settings' (in the same directory as this notebook) following the example file 'settings.sample'.

This section includes common code to manage and plot data. Queries will be available at the corresponding section.

In [60]:
import pandas

import os

import plotly as plotly
import plotly.graph_objs as go

import util as ut

from util import ESConnection
from elasticsearch_dsl import Search

es_conn = ESConnection()

# Let's load projects from the REVIEWED SPREADSHEET
projects = ut.read_projects("data/Contributors and Communities Analysis - Project grouping.xlsx")

project_name = os.environ.get('PROJECT', 'all')

date_range = {'gte': '1998-01-01', 'lt': 'now/y'}

In [68]:
def create_search(source):
    s = Search(using=es_conn, index=source)
    
    if source == 'git' or source == 'github':
        github = projects['Github']
        repos = github['Repo'].tolist()
        #print (repos)
        s = s.filter('terms', repo_name=repos)
    
    # TODO: Add bot and merges filtering.
    #s = s.filter('range', grimoire_creation_date={'gt': 'now/M-2y', 'lt': 'now/M'})
    return s

In [62]:
def print_df(result, group_field, value_field, group_column, value_column):
    df = pandas.DataFrame()

    df = df.from_dict(result.to_dict()['aggregations'][group_field]['buckets'])
    df = df.drop('doc_count', axis=1)
    df[value_field] = df[value_field].apply(lambda row: row['value'])
    df=df[['key', value_field]]
    df.columns = [group_column, value_column]

    return df

In [63]:
def stack_by(result, group_column, time_column, value_column, group_field, time_field, value_field):
    """Creates a dataframe based on group and time values
    """
    df = pandas.DataFrame(columns=[group_column, time_column, value_column])

    for b in result.to_dict()['aggregations'][group_field]['buckets']:
        for i in b[time_field]['buckets']:
            df.loc[len(df)] = [b['key'], i['key_as_string'], i[value_field]['value']]
    
    return df

def stack_by_2(result, group_column, time_column, value_column, group_field, time_field, value_field):
    """Creates a dataframe based on group and time values
    """
    df = pandas.DataFrame(columns=[time_column, group_column, value_column])

    for b in result.to_dict()['aggregations'][time_field]['buckets']:
        for i in b[group_field]['buckets']:
            df.loc[len(df)] = [b['key_as_string'], i['key'], i[value_field]['value']]
    
    return df

def stack_by_3(result, group_column, time_column, value_column, group_field, time_field, value_field):
    """Creates a dataframe based on group and time values
    """
    df = pandas.DataFrame(columns=[time_column, group_column, 'org', value_column])

    for b in result.to_dict()['aggregations'][time_field]['buckets']:
        for i in b[group_field]['buckets']:
            for org in i['org']['buckets']:
                df.loc[len(df)] = [b['key_as_string'], i['key'], org['key'], org[value_field]['value']]
    
    return df

In [64]:
def onion_label(df, value_column):
    
    total = df[value_column].sum()
    
    percent_80 = total * 0.8
    percent_95 = total * 0.95
    core_sum = 0
    regular_sum = 0
    
    labeled_df = pandas.DataFrame(
        columns=['uuid', 'time', 'org', 'onion'])
  
    for row in df.iterrows():
        value = row[1][value_column]
        uuid = row[1]['uuid']
        time = row[1]['time']
        org = row[1]['org']

        
        if (percent_80 > core_sum):
            core_sum = core_sum + value
            regular_sum = regular_sum + value
            
            onion_group = 'core'
                
        elif percent_95 > regular_sum:
            regular_sum = regular_sum + value
            
            onion_group = 'regular'
                
        else:
            onion_group = 'casual'
            
        labeled_df.loc[len(labeled_df)] = [uuid, time, org, onion_group]
                

    return labeled_df


def onion_labeled_evolution(df, bucket_field, time_field, metric_field):
    
    #print(len(df))
    
    onion_df = pandas.DataFrame(
        columns=['uuid', 'time', 'org', 'onion'])
    
    for time in df[time_field].unique():
        slice_df = df.loc[df['time'] == time]
        slice_df = slice_df.sort_values(by=metric_field, ascending=False)
        
        onion_labeled_result = onion_label(slice_df, value_column=metric_field)
        
        print(time, '->', len(slice_df['uuid'].unique()))#, slice_df.columns.values.tolist(), '->', onion_result)
        
        onion_df = pandas.concat([onion_df, onion_labeled_result]) 
        
    
    #print(len(df))
    return onion_df

In [65]:
def print_grouped_bar(df, x_column, value_columns, title):
    """
    """
    plotly.offline.init_notebook_mode(connected=True)

    bars = []
    x_values = df[x_column].tolist()
    for value_column in value_columns:
        bars.append(go.Bar(
            x=x_values,
            y=df[value_column].tolist(),
            name=value_column))

    layout = go.Layout(
        barmode='group',
        title= title
    )

    fig = go.Figure(data=bars, layout=layout)
    plotly.offline.iplot(fig, filename='grouped-bar')
    
def print_stacked_bar(df, x_column, value_columns, title):
    """
    """
    plotly.offline.init_notebook_mode(connected=True)

    bars = []
    x_values = df[x_column].tolist()
    for value_column in value_columns:
        bars.append(go.Bar(
            x=x_values,
            y=df[value_column].tolist(),
            name=value_column))

    layout = go.Layout(
        barmode='stack',
        title= title
    )

    fig = go.Figure(data=bars, layout=layout)
    plotly.offline.iplot(fig, filename='stacked-bar')

In [66]:
from elasticsearch_dsl import Q

def add_bot_filter(s):
    return s.filter('term', author_bot='false')

def add_merges_filter(s):
    return s.filter('range', files={'gt': 0})

def add_date_filter(s):
    q = Q('range')
    q.metadata__updated_on = {'gte': '1998-01-01', 'lt': 'now/y'}
    #q.metadata__updated_on = {'gte': '2010-01-01', 'lt': 'now/y'}

    return s.filter(q)

def add_general_date_filters(s):
    # 01/01/1998
    initial_ts = '883609200000'
    q = Q('range')
    q.metadata__updated_on={'gt': initial_ts}

    return s.filter(q)


def add_project_filter(s, project_name):

    if project_name.lower() != 'all':
        s = s.filter('term', project=project_name)

    return s

    # Let's load projects from the REVIEWED SPREADSHEET
    #projects = get_projects()
    # 
    # if project_name.lower() != 'all':
    #     github = projects['Github']
    #     repos = github[github['Project'] == project_name]['Repo'].tolist()
    #     #print(repos)
    #     s = s.filter('terms', repo_name=repos)
    # return s

# Let's load projects from the REVIEWED SPREADSHEET
#projects = ut.read_projects("data/Contributors and Communities Analysis - Project grouping.xlsx")

# Metrics

## Groups of contributors, by level of activity: core, regular, casual

Following table and chart shows number of contributors in three groups:
* Core: minimum number of authors who made 80% of contributions.
* Regular: minimum number of authors who made between 80% and 95% of contributions.
* Casual: the rest of contributors, who made the last 5% of contributions.

Looking at their evolution through time we can see the structure of a community at some point and its evolution.

In [69]:
s = create_search(source='git')

#s = add_general_date_filters(s)

s = add_bot_filter(s)
s = add_merges_filter(s)

# Filter commits to the Project Repos
s = add_project_filter(s, project_name)

# Adds date range to retrieve data from
s = add_date_filter(s)


# Unique count of Commits by Authors over time
s.aggs.bucket('time', 'date_histogram', field='metadata__updated_on', interval='quarter')\
    .bucket('uuid', 'terms', field='author_uuid', size=100000)\
    .bucket('org', 'terms', field='author_org_name', size=100000)\
    .metric('commits', 'cardinality', field='hash', precision_threshold=3000)

result = s.execute()

authors_df = stack_by_3(result, 'uuid', 'time', 'commits', 'uuid', 'time', 'commits')


# Divide authors in Employees and Non-Employees based on org name
authors_df.loc[authors_df['org'] == 'Mozilla Staff', 'org'] = 'Employees'
authors_df.loc[authors_df['org'] == 'Code Sheriff', 'org'] = 'Employees'
authors_df.loc[authors_df['org'] != 'Employees', 'org'] = 'Non-Employees'

In [70]:
onion_df = onion_labeled_evolution(authors_df, bucket_field='uuid', time_field='time', metric_field='commits')

# Calculate quarters
#onion_df['Quarter'] = pandas.PeriodIndex(pandas.to_datetime(onion_df.Time), freq='Q')
onion_df['Quarter'] = onion_df['time'].map(lambda x: str(pandas.Period(x,'Q')))

onion_df

1998-01-01T00:00:00.000Z -> 6
1998-04-01T00:00:00.000Z -> 94
1998-07-01T00:00:00.000Z -> 163
1998-10-01T00:00:00.000Z -> 112
1999-01-01T00:00:00.000Z -> 116
1999-04-01T00:00:00.000Z -> 134
1999-07-01T00:00:00.000Z -> 151
1999-10-01T00:00:00.000Z -> 146
2000-01-01T00:00:00.000Z -> 158
2000-04-01T00:00:00.000Z -> 178
2000-07-01T00:00:00.000Z -> 189
2000-10-01T00:00:00.000Z -> 160
2001-01-01T00:00:00.000Z -> 169
2001-04-01T00:00:00.000Z -> 194
2001-07-01T00:00:00.000Z -> 181
2001-10-01T00:00:00.000Z -> 186
2002-01-01T00:00:00.000Z -> 192
2002-04-01T00:00:00.000Z -> 191
2002-07-01T00:00:00.000Z -> 186
2002-10-01T00:00:00.000Z -> 172
2003-01-01T00:00:00.000Z -> 156
2003-04-01T00:00:00.000Z -> 141
2003-07-01T00:00:00.000Z -> 130
2003-10-01T00:00:00.000Z -> 101
2004-01-01T00:00:00.000Z -> 106
2004-04-01T00:00:00.000Z -> 106
2004-07-01T00:00:00.000Z -> 109
2004-10-01T00:00:00.000Z -> 107
2005-01-01T00:00:00.000Z -> 129
2005-04-01T00:00:00.000Z -> 144
2005-07-01T00:00:00.000Z -> 181
2005-10-01T00:00:00.000Z -> 188
2006-01-01T00:00:00.000Z -> 209
2006-04-01T00:00:00.000Z -> 305
2006-07-01T00:00:00.000Z -> 328
2006-10-01T00:00:00.000Z -> 169
2007-01-01T00:00:00.000Z -> 275
2007-04-01T00:00:00.000Z -> 265
2007-07-01T00:00:00.000Z -> 299
2007-10-01T00:00:00.000Z -> 282
2008-01-01T00:00:00.000Z -> 274
2008-04-01T00:00:00.000Z -> 334
2008-07-01T00:00:00.000Z -> 367
2008-10-01T00:00:00.000Z -> 362
2009-01-01T00:00:00.000Z -> 380
2009-04-01T00:00:00.000Z -> 445
2009-07-01T00:00:00.000Z -> 450
2009-10-01T00:00:00.000Z -> 432
2010-01-01T00:00:00.000Z -> 494
2010-04-01T00:00:00.000Z -> 561
2010-07-01T00:00:00.000Z -> 641
2010-10-01T00:00:00.000Z -> 571
2011-01-01T00:00:00.000Z -> 660
2011-04-01T00:00:00.000Z -> 731
2011-07-01T00:00:00.000Z -> 796
2011-10-01T00:00:00.000Z -> 821
2012-01-01T00:00:00.000Z -> 945
2012-04-01T00:00:00.000Z -> 1045
2012-07-01T00:00:00.000Z -> 1053
2012-10-01T00:00:00.000Z -> 1075
2013-01-01T00:00:00.000Z -> 1220
2013-04-01T00:00:00.000Z -> 1401
2013-07-01T00:00:00.000Z -> 1385
2013-10-01T00:00:00.000Z -> 1540
2014-01-01T00:00:00.000Z -> 1691
2014-04-01T00:00:00.000Z -> 1812
2014-07-01T00:00:00.000Z -> 1854
2014-10-01T00:00:00.000Z -> 1949
2015-01-01T00:00:00.000Z -> 2090
2015-04-01T00:00:00.000Z -> 1969
2015-07-01T00:00:00.000Z -> 1797
2015-10-01T00:00:00.000Z -> 2001
2016-01-01T00:00:00.000Z -> 2099
2016-04-01T00:00:00.000Z -> 1973
2016-07-01T00:00:00.000Z -> 1992
2016-10-01T00:00:00.000Z -> 1687

,uuid,time,org,onion,Quarter
0,360bda5d687dec2cadfb804f08c53e32c9a00a27,1998-01-01T00:00:00.000Z,Non-Employees,core,1998Q1
1,be4def1ae593ac3e9a3e6a7d3eb847e93bb21bb2,1998-01-01T00:00:00.000Z,Non-Employees,core,1998Q1
2,2a205325afe7a7ba7f2e44ab0b0f7a0dc5a9de00,1998-01-01T00:00:00.000Z,Non-Employees,core,1998Q1
3,c612c17daa0436547fdf8dde7038b13ddc77f0d9,1998-01-01T00:00:00.000Z,Non-Employees,core,1998Q1
4,d95d6e15648451cfc45885ee0de13b85f412403a,1998-01-01T00:00:00.000Z,Non-Employees,regular,1998Q1
5,fee82d83c32b57da8be70bb1a60fdd18945a4d89,1998-01-01T00:00:00.000Z,Non-Employees,regular,1998Q1
0,4782bfeacd4153cda87b5f1111afee53ac1187ee,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
1,431b3b9443363d840dc45885370dce1ebf0bb6df,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
2,b8a291c68e2361bc52b1fd6097bbf5387cc72433,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
3,8426e77b1adabfc17cf61da651a0194683856612,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
4,d2d0ee7863d5a2400c69c490942ce407385d185b,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
5,aa15c2b811f27e22ac59fe84cda1bbc493d96b56,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
6,5e8873da77bfc73b744c8ef257eede9cce53c04f,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
7,7e02873e84b3326ff9890083d49da41044c91813,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
8,2ca3b7c9678c67a58174dbc2e5e91f2a04b019e6,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
9,a2522930974eb40699e11ecf43ff2d51799161d4,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
10,c921b0bbb4310b721998502c391fea1a3eeb97aa,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
11,2f64af3301bbb9ec88374e7ceb797924c050fa8c,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
12,856e9a14c44a9e771c6f940145b26575c81e2228,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
13,a4ac636fb40f52b93a98db527dd01988d6c67433,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
14,da5f5b3ea833d7b55c9473ae77df2d9a8e3fbadb,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
15,bb0ba3b69a2f564274d47cb8a56e4d85b239ddb6,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
16,d7e5f6cefae91e13617ab8f7b6f1c2cf7097f386,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
17,d0b3141d65f49b46d2215ce615bf106aea602389,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
18,887002ff63d3f1b7a54ed99ca39aa8422e660f15,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
19,0d585e352fd9d4837c461a49bf57b0a5d618f4c1,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
20,54a8254a9fca593736008f320d5591e20e7d08a5,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
21,2a205325afe7a7ba7f2e44ab0b0f7a0dc5a9de00,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
22,47ac23f0868d747b6d9d61c596c226fbee59919e,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
23,c7d187a903b12314364639f210b8745aa93a7a76,1998-04-01T00:00:00.000Z,Non-Employees,core,1998Q2
...,...,...,...,...,...
1659,280838c1cfe7cfba63345823dd7a9020751ba521,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1660,27b388aa6e46b30756e1b4196fb1bb08cd302ec0,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1661,277852960620a148c39c937be7cd4a5b31104d7b,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1662,2faa59ea5a64968b714c11b8b185e43f605d5eb9,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1663,30c8b063078f255c12aa86903adecbc0e08fd3ff,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1664,3a2c8daaefef9f77788ad2e06d3a7b38d740ee52,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1665,35ffeee79508a2a72bc73243642840a778c02224,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1666,3984b001a7a636a759d6d6abcb214ada4592cf0d,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1667,394be8330ea5daf2922035d2e3e4aba1475852e0,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1668,38cdedaa750500c15059c3150ec1d33aced55e01,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1669,38b1cfbd63de3e99d680e1e028bf4dfc22135d65,2016-10-01T00:00:00.000Z,Employees,casual,2016Q4
1670,38aaa49c869a551534964cf622c7b64023f21204,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1671,37d683466f02b564fc30d7a0aa1609e7b1cbfa72,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1672,37c8fdcf5829c201058eaab67896b35017ae3f4b,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1673,3779451f39384101d35787289d9b3eb965cc09a0,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1674,36c6e8b442aa288e58544b784beee07a8768146d,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1675,36b93c8df1598565aeac9f8c09419ce34cb519e2,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1676,35e5bb16ef07a3bb5daf8e92790e7a4ebb01a0a9,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1677,315e8ad394f950d1cde10b260c4d1a652c2f3bee,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1678,35b3b6c8988f361a722115432b67b7159202da6e,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1679,3550e36088fc4508da0a8ca1aa0bfc10835c9545,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1680,34f951df66e1e424f3f655ef5e99e0d62b09619b,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1681,3495c67b2bbba027d542de15f4405aac214d9709,2016-10-01T00:00:00.000Z,Employees,casual,2016Q4
1682,3477a9bfffd21fb7a6c891b621c69ef48f3911f7,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1683,3423fd49eda01df258d45abc1bc327a3a21fcf48,2016-10-01T00:00:00.000Z,Employees,casual,2016Q4
1684,332ee73c32d099e3bb3cf57d3f6bb6728f1e6708,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1685,32e0e98c83356828a085457311eb271e3d38e67a,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1686,32a005bec9c5bb9adbbee54175b00d29bef2aa31,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1687,3169b3a2c8dd82e16ef6ff4df6370ab8c5cb18e3,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4
1688,ff27224be65cdd22d699a8642080e9bab8a19c5f,2016-10-01T00:00:00.000Z,Non-Employees,casual,2016Q4

In [72]:
import csv

def parse_csv(filepath):
    with open(filepath) as csvfile:
        reader = csv.DictReader(csvfile, delimiter=',', quotechar='"')
        for row in reader:
            yield row

def read_uuids(uuids_filepath):
    uuid_set = set()
    for row in parse_csv(uuids_filepath):
        uuid = row['uuid']
        uuid_set.add(uuid)

    return uuid_set


uuid_set = read_uuids('tools/dates-uuids.csv')
print('Read UUIDs:', len(uuid_set))

def query_max_non(uuid, emp_groups):
    s = create_search(source='git')
    
    s = add_bot_filter(s)
    s = add_merges_filter(s)
    # Filter commits to the Project Repos
    s = add_project_filter(s, project_name)

    s = s.filter('term', author_uuid=uuid)
    s = s.exclude('term', project='Unknown')
    s = s.exclude('terms', author_org_name=emp_groups)
    
    # For some reason this filter must be last one to escape '__' correctly
    # Adds date range to retrieve data from
    s = add_date_filter(s)
    
    s = s.aggs.metric('max', 'max', field='metadata__updated_on')
    
    # don't return any fields, just the metadata
    s = s.source(False)
    
    #print('max:', s.to_dict())
    
    return s.execute()

def query_min_emp(uuid, emp_groups):
    s = create_search(source='git')
    
    s = add_bot_filter(s)
    s = add_merges_filter(s)
    # Filter commits to the Project Repos
    s = add_project_filter(s, project_name)

    s = s.filter('term', author_uuid=uuid)
    s = s.exclude('term', project='Unknown')
    s = s.filter('terms', author_org_name=emp_groups)
   
    # Adds date range to retrieve data from
    s = add_date_filter(s)

    s = s.aggs.metric('min', 'min', field='metadata__updated_on')
    
    # don't return any fields, just the metadata
    s = s.source(False)
    
    #print('min:', s.to_dict())
    
    return  s.execute()

def query_max_non_filtered(uuid, emp_groups, min_emp_str):
    s = create_search(source='git')
    
    s = add_bot_filter(s)
    s = add_merges_filter(s)
    # Filter commits to the Project Repos
    s = add_project_filter(s, project_name)


    s = s.filter('term', author_uuid=uuid)
    s = s.exclude('term', project='Unknown')
    s = s.exclude('terms', author_org_name=emp_groups)
    q = Q('range')
    q.metadata__updated_on = {'gte': '1998-01-01', 'lt': min_emp_str}
    s = s.filter(q)
    
    s = s.aggs.metric('max', 'max', field='metadata__updated_on')

    # don't return any fields, just the metadata
    s = s.source(False)
    
    #print('max filt:', s.to_dict())

    return s.execute()


hired_onion_df = pandas.DataFrame(columns=['uuid', 'time', 'org', 'onion'])

## Query non-employee max date and employee min date
##   - If non-emp max < emp min => take onion group for quarter corresponding to non-emp max
##   - IOC, query for non-emp max filtering results to get only those older than emp_min
##       - get onion for quarter corresponding to new non-emp max 

emp_groups = ['Mozilla Staff', 'Code Sheriff']
#date_range = {'gte': '2010-01-01', 'lt': 'now/y'}
count = 0
not_found = 0
employee_commit_first = 0
for uuid in uuid_set:
    count += 1
    if (count % 100 == 0):
        print(count)
    
    response = query_max_non(uuid, emp_groups)

    # If there aren't any commits as Non-Employee we don't have onion data 
    if response.hits.total == 0:
        #print('No commits found for', uuid, 'as non-employee')
        not_found += 1
        continue
        
    #print(uuid)
       
    max_nonemp = response.to_dict()['aggregations']['max']['value']
    max_nonemp_str = response.to_dict()['aggregations']['max']['value_as_string']
    
    #print('hits:', response.hits.total)
    #print(max_nonemp_str)
    
    response = query_min_emp(uuid, emp_groups)
    
    # If there are commits as Non-Employee (checked above) and Employee (checked below)
    if response.hits.total > 0:
        min_emp = response.to_dict()['aggregations']['min']['value']
        min_emp_str = response.to_dict()['aggregations']['min']['value_as_string']
        #print(max_nonemp_str, min_emp_str)
        if max_nonemp < min_emp:
            period_non = pandas.Period(max_nonemp_str,'Q')
            period_emp = pandas.Period(min_emp_str,'Q')
            
            # If both dates are from same quarter, get onion from previous quarter with commits
            # as non-employee
            if period_non == period_emp:
                available_periods = onion_df.loc[(onion_df['org'] == 'Non-Employees') &
                        (onion_df['uuid'] == uuid)]['Quarter'].unique()
                i = 1
                while True:
                    period = str(pandas.Period(max_nonemp_str,'Q')-i)
                    #print(str(period))
                    i += 1
                    if period in available_periods or period <= str(pandas.Period('1997Q4')):
                        break

            else:
                period = str(period_non)
                
            group = onion_df.loc[(onion_df['org'] == 'Non-Employees') &
                        (onion_df['uuid'] == uuid) &
                        (onion_df['Quarter'] == period)]['onion']
            if len(group) > 0:
                hired_onion_df.loc[len(hired_onion_df)] = [uuid, period, 'Non-Employees', group.values[0]]
                #print('1.', group.values[0])
            else:
                # When commits as non-employee were made before 1998 we don't have onion data for them
                hired_onion_df.loc[len(hired_onion_df)] = [uuid, period, 'Non-Employees', 'none-1']
                print('1.', period, uuid)
        
        # There are commits as non-employee after being employee, get last quarter before being employee
        # query for non-emp max filtering results to get only those older than emp_min
        ##       - get onion for quarter corresponding to new non-emp max 
        else:
            
            response = query_max_non_filtered(uuid, emp_groups, min_emp_str)
            
            if response.hits.total > 0:
                max_before = response.to_dict()['aggregations']['max']['value_as_string']
                period = str(pandas.Period(max_before,'Q'))
                
                group = onion_df.loc[(onion_df['org'] == 'Non-Employees') &
                        (onion_df['uuid'] == uuid) &
                        (onion_df['Quarter'] == period)]['onion']
                    
                if len(group) > 0:
                    hired_onion_df.loc[len(hired_onion_df)] = [uuid, period, 'Non-Employees', group.values[0]]
                else:
                    # When commits as non-employee were made before 2010 we don't have onion data for them
                    hired_onion_df.loc[len(hired_onion_df)] = [uuid, period, 'Non-Employees', 'none-2']
            else:
                ## No commits found before first employee commit
                employee_commit_first += 1 

    
    # If there are only commits as Non-Employee (checked above), take last onion group
    else:
        period = str(pandas.Period(max_nonemp_str,'Q'))
        #print(period)
        group = onion_df.loc[(onion_df['org'] == 'Non-Employees') &
                    (onion_df['uuid'] == uuid) &
                    (onion_df['Quarter'] == period)]['onion']
        if len(group) > 0:
            hired_onion_df.loc[len(hired_onion_df)] = [uuid, period, 'Non-Employees', group.values[0]]
            #print('2.', group.values[0])
        else:
            hired_onion_df.loc[len(hired_onion_df)] = [uuid, period, 'Non-Employees', 'none-3']
            print('3.', period, uuid)

print('not found:', not_found)
print('employee_commit_first:', employee_commit_first)

hired_onion_df

Read UUIDs: 1076
100
200
300
1. 1997Q4 322e51194cdf78c23d517f3548ede5c5c0e972c3
1. 1997Q4 05dd034c58c6940a84f28c9377700c0083e1d7f7
400
500
1. 1997Q4 29475803048bdfd286019a910dc1e21d983dcaed
600
700
800
900
1. 1997Q4 0e0b6cd5c9c108c40b9f2605969054dbdb29c8e0
1000
not found: 690
employee_commit_first: 92

                                         uuid    time            org    onion
0    0134e2ebeec7f2f1acf7c635b5b22e2c441bd3ec  2009Q4  Non-Employees   casual
1    491b27f1c6560330725414d32fc5090b5c40e02a  2015Q3  Non-Employees     core
2    14e3bbbe3cca5f6861f737634f340aa034f1182a  2007Q1  Non-Employees     core
3    91dfc9eec717efdf81affc16fedcea176ac75df5  2012Q1  Non-Employees     core
4    00834d313bfc6fc60be1631bcc57b2c05ee2e0e3  2010Q1  Non-Employees  regular
5    aaf0f869ca958068c4b170ef99093297c005d53b  2014Q1  Non-Employees   casual
6    034873622c2212a4ed33704d19a082647ced26b2  2012Q4  Non-Employees   casual
7    4bd11a9c490003972d8447a7cbda3bc39ae479b6  2013Q1  Non-Employees  regular
8    6fe046b09296975a2e1cc84d63abacf42c6d31f6  2012Q4  Non-Employees  regular
9    111e755f5e636487882921221c9812acc877850c  2012Q1  Non-Employees   casual
10   68323f7cf005245e3805eb9d63f390d6d4eef376  2016Q4  Non-Employees   casual
11   19fa0f7c853abf9156e3793c6d286a5825dbfcdb  2008Q1  Non-Employees   casual
12   2d1b01fc1fc8c3659e876d69fce8cef5e6e32a62  2011Q4  Non-Employees   casual
13   1ed27760bba7202e2ae04760fe950a05e011c4de  2012Q1  Non-Employees     core
14   460eedf5ff44f2654d653fae2a733295c60bf928  2010Q4  Non-Employees  regular
15   0621bb94b500c488a21dd69b2d6cdaaacede21fd  2013Q1  Non-Employees   casual
16   426af0aa04540ba15eacf13ad814751cc028e658  2013Q2  Non-Employees   casual
17   2c4ea148246e37ec880f5b4cbe3c7754f7511a58  2008Q3  Non-Employees   casual
18   1fc4c9d71749b58995b0a12e203357074e443e65  2011Q1  Non-Employees   casual
19   53d137c4dae97c8a78f95f32146a3b4bb470d454  2015Q1  Non-Employees   casual
20   5eca54181e977908d8510b151175cf613a495544  2012Q1  Non-Employees   casual
21   17ee141cbf2d0720a6524021b000c8a0b1428c01  2015Q4  Non-Employees   casual
22   2ee2978cacd2dc852c0e15bf67783c3cdf7a0de0  2010Q1  Non-Employees   casual
23   01b36f5096db2e9bd47f3c2817644dec9e7dff17  2011Q3  Non-Employees  regular
24   54a8b2f2c09840d624b2b55857daa4ab0b795462  2016Q1  Non-Employees   casual
25   201d71b16e7f16fca21369ec82d58e27552553d0  2009Q2  Non-Employees   casual
26   098581c2efb68b4e3339e2f495923c6475aa762e  2010Q4  Non-Employees   casual
27   6ca3039f0455b2fc3a90f701f8126b8ad4c44dac  2014Q1  Non-Employees     core
28   1e7941fd30ea9f11bfc1e8b166a24c441bc2e145  2013Q2  Non-Employees  regular
29   52f72457cf3c653fe79a86f9bc160103f20b3357  2014Q2  Non-Employees   casual
..                                        ...     ...            ...      ...
264  29750f176131d22e3fb93adb6ea4f6decd3a08b5  2010Q3  Non-Employees  regular
265  133dc42a82385e0b0892d178bc59769c895f08b9  2013Q1  Non-Employees  regular
266  6787a133dd11c0e6bd0aed6c90c9a2ac5fdde978  2011Q2  Non-Employees  regular
267  9248ea74bea50a9f63f9adca58a9283318c6c4aa  2011Q4  Non-Employees     core
268  05bc3d7063c9402f9a12d25ec4ab5c0531da429b  2015Q3  Non-Employees     core
269  15ef03a010974c782131d7c44078714b0732378d  2011Q2  Non-Employees  regular
270  1965128273ac7edc9fc94333c5ad40f5b3cf0fcb  2011Q3  Non-Employees   casual
271  11cf17b03b0f8be15d6a90f7500fbf1b5ed5cde3  2016Q4  Non-Employees     core
272  0510befb97d662ac58d25a553a55d043d4add67a  2010Q1  Non-Employees  regular
273  0662c293f205127a1ec3faf9a82031f1158e05f8  2010Q3  Non-Employees   casual
274  281b28137024d25db634d3de0744d7374217e118  2011Q1  Non-Employees     core
275  65c565fb64525b2b8669c88c3d427209df41289f  2015Q3  Non-Employees   casual
276  0803e2f0850ef082cdcb96429382a767180722a3  2010Q3  Non-Employees  regular
277  6a6a873ddc0b14397bc5a8954875cf40785810d7  2012Q3  Non-Employees     core
278  0eaf87e85b3f8597fc88b4f9290c1ae55c6f4074  2015Q4  Non-Employees  regular
279  276007debe0f2fe81767eeb2f98ebd0a7e1fe28e  2004Q4  Non-Employees   casual
280  26f4133487aca2efef9f6a00b06e5bcb240911d2  2016Q3  Non-Employees   casual
281  58be3b9dd93ee1dd897102363f071ec8cc2e80a2  2013Q2  Non-Employees   casual
282  a9cc1b06e86b284f0ead5bae179a6970370a688b  2012Q1  Non-Employees   casual
283  40c9aeb65c4f1584924d924be0d8a40d8b05569d  2015Q3  Non-Employees   casual
284  23e235a052c2dcdff99bf2aa9e8b1231bacff18d  2010Q3  Non-Employees  regular
285  19ccd3737140d6a9ebd54dbfa7d4155077daf403  2005Q3  Non-Employees     core
286  0297e8abe4552a5c34c5c2e9a95f5f9d147a837b  2014Q4  Non-Employees     core
287  bcf421835cea2da63422b0c8251d94291d69e0e8  2013Q4  Non-Employees   casual
288  0876a73132d7a5f162c44f9cedefd334c4fa8bea  2012Q1  Non-Employees   casual
289  58e43748d9edc63acb969736856e215d79d356e9  2009Q3  Non-Employees   casual
290  38797f5e631c38a29e8cb3b472b84bc8f89b51d1  2011Q2  Non-Employees  regular
291  de3b6c9dbb568859e21e8adaed787c0a11c078fb  2016Q4  Non-Employees   casual
292  1282346e6388818ddfee2c8c83e81c1ded920a1f  2012Q1  Non-Employees   casual
293  1095117067449f67c9f1abc4b8a2dae3152ed6f8  2015Q1  Non-Employees   casual

[294 rows x 4 columns]

In [73]:
grouped_hired_df = hired_onion_df.groupby(['onion']).agg({'uuid': 'count'})
grouped_hired_df

         uuid
onion
casual    152
core       68
none-1      4
regular    70

In [74]:
hired_2016_df = hired_onion_df.loc[hired_onion_df['time'].isin(['2016Q1', '2016Q2' , '2016Q3', '2016Q4'])]

grouped_hired_df = hired_2016_df.groupby(['onion']).agg({'uuid': 'count'})
grouped_hired_df

         uuid
onion
casual     18
core        9
regular     5

In [75]:
hired_2015_df = hired_onion_df.loc[hired_onion_df['time'].isin(['2015Q1', '2015Q2' , '2015Q3', '2015Q4'])]

grouped_hired_df = hired_2015_df.groupby(['onion']).agg({'uuid': 'count'})
grouped_hired_df

         uuid
onion
casual     20
core        7
regular     9

In [76]:
hired_2012_df = hired_onion_df.loc[hired_onion_df['time'].isin(['2012Q1', '2012Q2' , '2012Q3', '2012Q4'])]

grouped_hired_df = hired_2012_df.groupby(['onion']).agg({'uuid': 'count'})
grouped_hired_df

         uuid
onion
casual     18
core        9
regular     3

In [77]:
hired_2010_df = hired_onion_df.loc[hired_onion_df['time'].isin(['2010Q1', '2010Q2' , '2010Q3', '2010Q4'])]

grouped_hired_df = hired_2010_df.groupby(['onion']).agg({'uuid': 'count'})
grouped_hired_df

         uuid
onion
casual     10
core        7
regular    14

In [78]:
hired_2009_df = hired_onion_df.loc[hired_onion_df['time'].isin(['2009Q1', '2009Q2' , '2009Q3', '2009Q4'])]

grouped_hired_df = hired_2009_df.groupby(['onion']).agg({'uuid': 'count'})
grouped_hired_df

         uuid
onion
casual     12
core        5
regular     3

In [79]:
hired_2008_df = hired_onion_df.loc[hired_onion_df['time'].isin(['2008Q1', '2008Q2' , '2008Q3', '2008Q4'])]

grouped_hired_df = hired_2008_df.groupby(['onion']).agg({'uuid': 'count'})
grouped_hired_df

         uuid
onion
casual      9
core        9
regular     3

In [80]:
hired_2007_df = hired_onion_df.loc[hired_onion_df['time'].isin(['2007Q1', '2007Q2' , '2007Q3', '2007Q4'])]

grouped_hired_df = hired_2007_df.groupby(['onion']).agg({'uuid': 'count'})
grouped_hired_df

         uuid
onion
core        1
regular     1

In [56]:
### LOOK FOR THOSE PEOPLE WHO COMMITED TO FIREFOX OS. DO THEY COMMIT TO OTHER PROJECTS LATER ON?

group = onion_df.loc[onion_df['uuid'] == '9248ea74bea50a9f63f9adca58a9283318c6c4aa']
group

,uuid,time,org,onion,Quarter
527,9248ea74bea50a9f63f9adca58a9283318c6c4aa,2012-01-01T00:00:00.000Z,Employees,casual,2012Q1
689,9248ea74bea50a9f63f9adca58a9283318c6c4aa,2012-01-01T00:00:00.000Z,Non-Employees,casual,2012Q1
485,9248ea74bea50a9f63f9adca58a9283318c6c4aa,2012-04-01T00:00:00.000Z,Employees,casual,2012Q2
384,9248ea74bea50a9f63f9adca58a9283318c6c4aa,2012-07-01T00:00:00.000Z,Employees,regular,2012Q3
433,9248ea74bea50a9f63f9adca58a9283318c6c4aa,2012-10-01T00:00:00.000Z,Employees,regular,2012Q4
496,9248ea74bea50a9f63f9adca58a9283318c6c4aa,2013-01-01T00:00:00.000Z,Employees,regular,2013Q1
893,9248ea74bea50a9f63f9adca58a9283318c6c4aa,2014-01-01T00:00:00.000Z,Employees,casual,2014Q1
1009,9248ea74bea50a9f63f9adca58a9283318c6c4aa,2014-04-01T00:00:00.000Z,Employees,casual,2014Q2
1001,9248ea74bea50a9f63f9adca58a9283318c6c4aa,2014-10-01T00:00:00.000Z,Employees,casual,2014Q4
1196,9248ea74bea50a9f63f9adca58a9283318c6c4aa,2015-01-01T00:00:00.000Z,Employees,casual,2015Q1
1439,9248ea74bea50a9f63f9adca58a9283318c6c4aa,2015-04-01T00:00:00.000Z,Employees,casual,2015Q2
526,9248ea74bea50a9f63f9adca58a9283318c6c4aa,2015-10-01T00:00:00.000Z,Employees,regular,2015Q4

In [71]:
group = authors_df.loc[authors_df['uuid'] == '9248ea74bea50a9f63f9adca58a9283318c6c4aa']
group

,time,uuid,org,commits
14583,2011-10-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Non-Employees,57.0
15284,2012-01-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Non-Employees,138.0
15285,2012-01-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,103.0
16288,2012-04-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,145.0
17323,2012-07-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,172.0
18486,2012-10-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,74.0
19582,2013-01-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,72.0
20918,2013-04-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,55.0
22586,2013-07-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,23.0
23757,2013-10-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,44.0
25206,2014-01-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,70.0
26851,2014-04-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,96.0
28877,2014-07-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,48.0
30784,2014-10-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,33.0
32773,2015-01-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,34.0
34861,2015-04-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,31.0
36889,2015-07-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,26.0
38591,2015-10-01T00:00:00.000Z,9248ea74bea50a9f63f9adca58a9283318c6c4aa,Employees,31.0